

  .Homepage {
    background-color: white;
    max-width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #434343;

 .productContainer {
  @include flexSetUp(flex-start, row);
    max-width: 1350px; 
  
  .productImage {
    height: 150px;
    width: 150px; }
  
  
  .HomePageProducts p:hover {
    color: magenta; }

  }
  }

.shopSpecificBrand{
  
}

  

  
  
  .ShopSellRepeat {
    padding-top: 100px;
    padding-left:300px;
    font-size: 50px;
   

     .sell:hover {
    color: $pink; }
  
  .shop:hover {
    color: $pink; }
  
  .repeat:hover {
    color: $pink; }
  }


  
 
  
  

 