.background {
    background-color: #efefef;   
  }
 

.NavBar1 {
    @include flexSetUp(flex-start, row);
    color: white;
    background-color: #434343;
    width: 100%;
    height: 15px;
    font-size: 15px;
    font-family: Hevetic, Arial;
    text-transform: uppercase;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

  .Right{
     @include flexSetUp(flex-end,row); 
     

     .InsideRight{
       padding-right: 20px;
     }   
    }

    .Left{
      @include flexSetUp(flex-start,row);
      padding-left: 30px;

      .InsideLeft{
        padding-right: 20px;
        
      }
    }
  }

  .Logo{
    @include flexSetUp(flex-start,flex-start, row);
    background-color: white;
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-left: 60px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 55px;
    color: #434343;
  }


.NavBar2{
  @include flexSetUp(flex-start,flex-start, row);
  background-color: white;
  width: 60%;
  height: 70px;
  margin: auto;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 55px;
  color: #434343; 
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

.InsideNavBar2{
  @include flexSetUp(space-between, center, row);
  text-transform: uppercase;
  color: #434343;
  width: 90%;
  height: 50px;
  font-size: 18px;
  font-family: Arial;
  padding-top: 15px;
  margin: auto;
 
}
