.footer {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: pink; 
    color: white;
    font-size: 15px;
    column-count: 4;
  
    
  }

.AboutUs{
  display: flex;
  color: white;
}
.Shopping{
  display:flex;
  color: white;
}

.MyAcct{
  display: flex;
  color: white;
}

.socialize{
  display: flex;
  color: white;
}