

.NavBar1{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #434343;;
  width:100%;
  height: 100%
}


.NavBar2{
  display: flex;
  justify-content: space-between;
}

.footer{
  display: flex;
  height: 100%;
  width: 100vw;
  background-color: #434343;
}

.sell:hover{
  color: magenta;
}

.shop:hover{
  color: magenta;
}

.repeat:hover{
  color: magenta;
}