
.background{
  background-color: lightgrey;
}

.NavBar1 {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #434343;
  width: 100%; 
  font-size: 20px;
  text-align: right;
  letter-spacing: normal;
  text-transform: uppercase;
  min-height: 25px;
  padding: 15px;

}


.Logo {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: white;

}


.NavBar2 {
  display: flex;
  justify-content: space-between; 
  background-color: white;
  font-size: 20px;
  width: 100%;

}

.Homepage{
  max-width: 1000px;
  margin: auto;
  background-color: white;
}

.AllProducts{
  background-color: white;

}

.Details{
  background-color: white;
}

.ShopSellRepeat{
  font-size: 45px;
  color: #434343;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.sell:hover {
  color: magenta;
 }

.shop:hover {
  color: magenta; }

.repeat:hover {
  color: magenta; }

.productContainer{
  display: flex;
  justify-content: center;
  align-items: center;
   }

.productImage{
  height: 150px;
  width: 150px;
}     

.HomePageProducts p:hover{
  color: magenta;
}

